WEBFLOW_SITE_ID=
WEBFLOW_SITE_API_TOKEN=
ORIGIN=
AUTH_USERNAME=brndwgn
AUTH_PASSWORD=brndwgn_letmein
AUTH_SECRET=change_me_to_a_long_random_string
LOGO=https://0cb5a4d5-1d8d-4e38-a8af-a9a979a1faae.wf-app-prod.cosmic.webflow.services/app/api/asset?key=bw-pink.png
BUTTON_COLOR=#111827
BUTTON_TEXT_COLOR=#ffffff
